/* VARIABLES */

:root {
  /* Couleurs */
  --Bleu-Fonce: #111828;
  --Bleu-Vive: #1098d4;
  --Bleu-Gris: #99a1af;

  --Noir: #000;
  --Gris-Fonce: #2a2a2a;
  --Gris: #767676;
  --Gris-Pale: #dcdcdc;
  --Blanc-Gris: #f5f5f5;
  --Blanc-Pure: #fff;

  font-size: 16px;
}
