@layer components {
  .header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--Noir);
  }

  .nav {
    max-width: 480px;
    margin: 0 auto;
    flex-wrap: wrap;
    color: var(--Blanc-Pure);
    justify-content: space-between;
    align-items: center;

    .nav__titre {
      order: 1;
    }

    .nav__categories {
      order: 3;

      .menu {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style-type: none;
        gap: 1rem;

        .menu__item {
          width: 29%;
          text-align: center;
        }
      }
    }

    .nav__utilitaire {
      order: 2;

      input {
        display: none;
      }

      position: relative;
      .barre-recherche,
      .barre-recherche__containeur {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        input {
          background-color: var(--Gris-Fonce);
          border-radius: 1.5rem;
          border: none;
          padding: 0.7rem 3rem;
          cursor: pointer;
          width: 100%;
          caret-color: var(--Blanc-Pure);
          color: var(--Blanc-Pure);
        }

        button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
          position: absolute;
          width: 60px;
          right: 0;

          img {
            width: 100%;
            color: var(--Bleu-Gris);
          }
        }
      }

      .nav__control {
        background-color: transparent;
        color: var(--Blanc-Pure);
        border: none;
        padding: 10px;
        min-width: 40px;

        &:hover,
        :active {
          color: var(--Bleu-Gris);
        }

        &:focus-visible {
          outline-offset: -5px;
          outline: var(--Bleu-Vive) auto 5px;
        }

        &::before {
          display: inline-block;
          content: "";
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
          background-image: url(../../img/MenuClose.svg);
          background-size: auto 1em;
        }
      }
      .nav__control.nav--closed {
        &::before {
          background-image: url(../../img/MenuOpen.svg);
        }
      }
    }

    .panier {
      label {
        cursor: pointer;

        &:hover img {
          border-bottom: 1px solid var(--Blanc-Pure);
          border-bottom-style: dashed;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 32.975rem) {
    .js .menu {
      max-height: 100vh;
      overflow: hidden;
      transition: max-height 2s;
    }

    .js .nav--closed .menu {
      max-height: 0;
      transition: max-height 0.5s;
    }
  }
  /* Affichage Tablette - 528px */
  @media screen and (min-width: 33rem) {
    .nav {
      max-width: 660px;
      margin: 0 auto;
      justify-content: center;

      .nav__utilitaire {
        input {
          display: inline;
        }

        .nav__control {
          display: none;
        }
      }
    }
  }

  /* Affichage Tabe - 1080px */
  @media screen and (min-width: 67.5rem) {
    .nav {
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 50px;

      .nav__titre {
        order: 1;
      }
      .nav__categories {
        order: 2;

        .menu {
          flex-wrap: nowrap;

          .menu__item {
            width: 100%;
          }
        }
      }
      .nav__utilitaire {
        order: 3;
      }
    }
  }
}
